@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

/* 
font-family: 'Bai Jamjuree', sans-serif;
font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif; */


/* :root {
    --bg-primary: rgb(251, 248, 252);
    --bg-secondary: rgb(255, 35, 35);
    --bg-tertiary: rgb(255, 35, 35);

    --black: rgb(255, 255, 255);
    --white: rgb(14, 13, 13);
    --clr-primary: rgb(3, 3, 3);
    --clr-secondary: rgb(255, 35, 35);
    --clr-tertiary: rgb(255, 35, 35);
    --b-rad: 6px;
    --b-wit: 4px;


    --stack100: rgba(255, 35, 35, 0.2);
    --stack200: rgb(255, 35, 35, 0.4);
    --stack300: rgb(255, 35, 35, 0.6);
    --stack400: rgb(255, 35, 35, 0.8);
    --stack500: rgb(255, 35, 35);
} */

/* :root {
    --bg-primary: rgb(18, 7, 20);
    --bg-secondary: rgb(35, 255, 200);
    --bg-tertiary: rgb(35, 255, 200);

    --black: rgb(49, 49, 49);
    --white: white;
    --clr-primary: white;
    --clr-secondary: rgb(35, 255, 200);
    --clr-tertiary: rgb(35, 255, 200);
    --clr-text: rgb(202, 202, 202);
    --b-rad: 6px;
    --b-wit: 2px;


    --stack100: rgba(35, 255, 200, 0.2);
    --stack200: rgb(35, 255, 200, 0.4);
    --stack300: rgb(35, 255, 200, 0.6);
    --stack400: rgb(35, 255, 200, 0.8);
    --stack500: rgb(35, 255, 200);
} */
:root {
    --bg-primary: rgb(0, 0, 0);
    --bg-secondary: rgb(98 234 239);
    --bg-tertiary: rgb(98 234 239);

    --black: rgb(29, 29, 29);
    --white: white;
    --clr-primary: white;
    --clr-secondary: rgb(98 234 239);
    --clr-tertiary: rgb(98 234 239);
    --clr-text: rgb(202, 202, 202);
    --highlight: rgb(255, 56, 116);
    --b-rad: 6px;
    --b-wit: 2px;


    --stack100: rgb(98, 234, 239, 0.2);
    --stack200: rgb(98, 234, 239, 0.4);
    --stack300: rgb(98, 234, 239, 0.6);
    --stack400: rgb(98, 234, 239, 0.8);
    --stack500: rgb(98 234 239);
}

/* rgb(98 234 239) */
* {
    text-decoration: none;
    list-style: none;
    border: none;
     outline: 2px solid rgb(255, 0, 0);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 500ms ease;
    font-size: 16px;
}


p {
    color: var(--clr-text);
    margin-bottom: 5px;
    margin-top: 5px;
}

h6,
h5,
h4,
h3,
h2,
h1 {
    font-family: 'Bai Jamjuree', sans-serif;
    color: var(--clr-secondary);
    font-weight: 400;

}

.sub-head {
    font-size: 1.9rem;
    padding: 5px 0;
    text-transform: capitalize;
    text-shadow: 1px 1px var(--highlight);
}

html {
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

.btn {
    background: var(--bg-tertiary);
    color: var(--black);
    border-radius: var(--b-rad);
    padding: 0.5rem 0.7rem;
    margin: 0.5rem 0 0.7rem;
    text-align: center;
}

.disp-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    width: min(1440px, 95%);
    margin-inline: auto;
}

.sub-container {
    width: min(1440px, 95%);
    margin-inline: auto;
}

::-webkit-scrollbar {
    width: 0.7rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--bg-secondary);
    border-radius: 5rem;
}

body {
    /* background-color: #d5d5d5; */
    background-color: var(--bg-primary);
    scroll-behavior: auto;
    font-family: 'Montserrat', sans-serif;

}

section {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 3rem auto;
}


section .section-head {
    width: 90%;
    font-size: 2.5rem;
    color: var(--clr-primary);
    text-shadow: 1px 1px var(--highlight);
    text-align: center;
    text-transform: uppercase;
    margin: 1rem auto 1.5rem;
    background: linear-gradient(var(--stack100) 90%, var(--highlight) 10%);
    padding: 0.2rem 0.5rem;
    border-radius: var(--b-rad);
}


section h3 {
    color: var(--clr-secondary);
    font-size: 2rem;
}


.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 9999999;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    background-color: var(--bg-primary);
    opacity: 0.9;
    color: var(--clr-secondary);
    text-align: center;

}

.hide-loader {
    animation-name: fade-out;
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
}

.loader .load-items {
    position: relative;
    width: 40px;
    height: 40px;
    /* background-color: var(--font-Head); */
    top: 45vh;
    animation: rotate 700ms linear infinite forwards;
    margin-inline: auto;
}

.load-items .load-item {
    width: 10px;
    height: 10px;
    background: var(--bg-secondary);
    border-radius: 100%;
    position: absolute;
    animation: scaleUp 900ms linear infinite alternate both;

}


.load-items .load-item:nth-child(1) {
    top: 0;
    left: 0;
}

.load-items .load-item:nth-child(2) {
    bottom: 0;
    left: 0;
}

.load-items .load-item:nth-child(3) {
    top: 0;
    right: 0;
}

.load-items .load-item:nth-child(4) {
    right: 0;
    bottom: 0;
}

.loader h2 {
    position: relative;
    top: 50vh;
    letter-spacing: 5;
}

/* mobile nav */
nav.navigation {
    color: var(--clr-primary);
    position: absolute;
    top: 0;
    display: none;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

nav .nav_wrap {
    display: flex;
    width: 90%;
    flex-direction: row;
    padding: 1rem 0rem;
    justify-content: space-between;
    position: relative;
}



/* hamburger  */
nav .nav_btn {
    width: 35px;
    height: 35px;
    z-index: 10;
    position: fixed;
    right: 5%;
    padding: 0.25rem 0;
    border-radius: var(--b-rad);
    background-color: var(--bg-tertiary);
    z-index: 999999;
}

nav .nav_btn::before {
    position: absolute;
    content: "";
    display: block;
    width: 35px;
    height: 35px;
    padding: 0.25rem 0;
    opacity: 0.4;
    z-index: 100;
}

nav .nav_btn div {
    width: 80%;
    height: 5px;
    display: block;
    background-color: var(--black);
    margin: 0.15rem auto;
    border-radius: var(--b-rad);
    z-index: -1;
    transform: scaleX(1);
}


.navLinks {
    display: none;
    visibility: hidden;
    opacity: 0;
    height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: var(--b-rad);
    z-index: 99;
    transition: none;
    box-shadow: 0px 0px 3px 2px var(--stack200);
}

.navLinks li {
    width: 100%;
    margin-inline: auto;
}

.navLinks li a {
    width: min(80%, 250px);
    display: block;
    padding: 0.4rem 0.5rem;
    margin: 0.5rem auto 0;
    font-size: 1rem;
    background: linear-gradient(var(--stack100) 90%, var(--highlight) 10%);
    border-radius: var(--b-rad);
    color: var(--bg-secondary);
}

.navLinks li a:hover {
    background-color: var(--bg-tertiary);
    color: var(--bg-primary);
}

.navLinkZero {
    margin: 0 0.6rem !important;
}

/* to be toggled in js */

.navbtnfocus div {
    transform: scaleX(0.2) !important;
}

.hiddenNavLinks {
    width: 70%;
    top: 60px;
    justify-content: flex-start;
    height: fit-content;
    visibility: visible;
    padding: 0.8rem 0.8rem;
    position: fixed;
    margin-inline: auto;
    background-color: var(--bg-primary);
    opacity: 1 !important;
    transition: 300ms linear;
}

/* banner */

#banner_wrapper {
    width: 100%;
    background: var(--bg-primary);
    padding-top: 0;
    padding-bottom: 2rem;
}

/* navbar */
.navbar {
    display: flex;
    margin: 0 auto;
    padding: 1.5rem 0;
    flex-direction: row;
    justify-content: space-between;
    background: var(--bg-primary);
}

.navbar .nav-item {
    display: flex;
    justify-content: center;
    align-self: flex-end;
}

.nav-item li {
    margin-left: 1.6rem;
    text-transform: uppercase;
}

.nav-item li a {
    color: var(--clr-primary);
    padding: 100% 0.4rem 0.4rem;
    font-size: 1rem;
}

.nav-item li a:hover {
    background: var(--bg-secondary);
    color: var(--black);
}

/* footer */
#footer {
    width: 100%;
    margin-top: 8.5rem;
    color: var(--clr-primary);
    background-color: var(--bg-primary);
    padding: 1rem 0;
    box-shadow: 0px 0px 3px 2px var(--stack100);
}

#footer .cta {
    display: flex;
    flex-flow: row nowrap;
    margin-top: -5.5rem;
    padding: 1rem;
    z-index: 9999999;
}


#footer .cta .cta-text {
    width: 45%;
    font-size: 1.2rem;
}

#footer .cta .link-wrap {
    width: 45%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    gap: 10px;
}

#footer .cta .cta-links {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    gap: 10px;
}

.cta .cta-links i {
    color: var(--white);
}
.cta .cta-links a {
    width: min(50px ,20%);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--b-rad);
}
.cta .cta-links a:hover i {
    color: var(--highlight);
}


#footer .cta>* {
    margin: 0.9rem auto;

}

#footer .cta .btn {
    padding: 0.6rem 20%;
    background-color: var(--black);
    border: var(--b-wit) solid var(--bg-tertiary);
    color: var(--bg-tertiary);
}

#footer .footer-wrap {
    width: 90%;
    background-color: var(--bg-primary);
    border-radius: var(--b-rad);
    color: var(--clr-tertiary);
    margin: 1.5rem auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    padding: 1rem 1rem;
}

.footer-wrap .column {
    flex-basis: 30%;
}

.footer-wrap .social {
    display: flex;
}

.footer-wrap .social a {
    margin: 0 10px 10px 0;
}

.footer-wrap .column .links {
    margin-top: 10px;
    display: flex;
    flex-flow: column nowrap;
    min-height: 150px;
    justify-content: space-evenly;
}

.footer-wrap .column .links li a {
    color: var(--clr-secondary);
    margin-bottom: 10px;
    padding: 1rem 0
}

.copyright p {
    text-align: center;
}

/*  */
::selection {
    display: none;
}


/* media media queries */

@media(max-width: 900px) {
    section h3 {
        font-size: 1.2rem;
    }

    .nav-item li {
        margin-left: 1rem;
    }

    .nav-item li a {
        padding: 100% 0.2rem 0.2rem;
        font-size: 0.8rem;
    }

}

@media (max-width:600px) {

    /*  */
    .loader .load-items {
        width: 30px;
        height: 30px;
    }

    .load-items .load-item {
        width: 6px;
        height: 6px;
    }

    /*  */

    section .section-head {
        font-size: 1.5rem;
    }

    .section-head span {
        font-size: 2rem;
    }

    section h3 {
        font-size: 1.5rem;
    }

    .sub-head {
        font-size: 1.4rem;

    }

    p {
        font-size: 0.9rem;
    }

    /*  */
    nav.navigation {
        display: flex;
    }

    .stack .stack-item {
        height: 70px;
    }

    #banner_wrapper {
        padding-top: 2rem;
    }

    .navbar {
        display: none;
    }

    #footer .footer-wrap {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #footer .cta {
        flex-flow: column nowrap;
    }

    #footer .cta .cta-text {
        width: 100%;
    }

    #footer .cta .link-wrap {
        width: 100%;
    }

    .column {
        margin-bottom: 1rem;
    }
}
